[submodule "thirdparty/client"]
	path = thirdparty/client
	url = git@git.sambaserver.eprosima.com:nanortps/micrortps_client_dev.git
[submodule "thirdparty/agent"]
	path = thirdparty/agent
	url = git@git.sambaserver.eprosima.com:nanortps/micrortps_agent_dev.git
[submodule "thirdparty/transport"]
	path = thirdparty/transport
	url = git@git.sambaserver.eprosima.com:nanortps/micrortps_transport.git
	branch = develop
[submodule "thirdparty/gen"]
	path = thirdparty/gen
	url = git@git.sambaserver.eprosima.com:nanortps/micrortpsgen.git
