[submodule "thirdparty/client"]
	path = thirdparty/client
    url = git@gitlab.sambaserver.eprosima.com:eProsima/micrortps-client.git
[submodule "thirdparty/agent"]
	path = thirdparty/agent
    url = git@gitlab.sambaserver.eprosima.com:eProsima/micrortps-agent.git
[submodule "thirdparty/transport"]
	path = thirdparty/transport
    url = git@gitlab.sambaserver.eprosima.com:eProsima/micrortps-transports.git
	branch = develop
[submodule "thirdparty/gen"]
	path = thirdparty/gen
    url = git@gitlab.sambaserver.eprosima.com:eProsima/micrortpsgen.git
